* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans', sans-serif;
    background: #000000;

}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}



.menu {
    margin-left: 25%;
    font-size: 30px;
    padding: 0;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 130px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:#F9F7F7;
    z-index: 1;
    border: 1;
}
p{
    color: white;
    padding-bottom: 15px;
    margin-left: 23%;
}
nav ul{
    list-style-type: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: #212121;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}

nav ul li a:hover{
    text-decoration: underline;
}

h1{
    margin-left: 35%;
    text-decoration: underline;
    padding-top: 10%;
}
body{
    background-color: black;

}

#gallery {
    line-height: 0;
    -webkit-column-count: 5;
    /* split it into 5 columns */
    -webkit-column-gap: 5px;
    /* give it a 5px gap between columns */
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
}
#gallery img {
    width: 100% ;
    height: auto ;
    margin-bottom: 5px;
    filter: grayscale(75%);
    transition: filter 1s;

}
#gallery img:hover {
    filter: none;
    border: white;
    border-width: 1px;
    transform: scale(1.5);
    position: relative;
        z-index: 2;
}



a.tbl-merah {
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    font-size: 75px;
    margin-top: 80px;
    border-radius: 10px;
    padding: 9px 20px 9px 20px;
    margin-left: 15%;
    top: 800px;
}

a.tbl-merah:hover {
    background: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-decoration: none;
}